<template>

    <div class="app" :class="mode">
        <app-Header @toggle= "toggle"></app-Header>
        <app-Panel v-if="user.loggedIn"></app-Panel>

    
                
        <router-view></router-view>

    </div>
</template>

<script>
/* eslint-disable */
    import Header from './components/Header.vue';
    import Panel from './components/Panel.vue';
    import {mapGetters} from 'vuex';
    export default {
        data(){
            return{
                mode: 'light',
                text:'Hello World'
            }
        },filters:{
            toUpperCase(value){
                return value.toUpperCase();
            }
        },
        components:{
            appHeader:Header,
            appPanel:Panel
        },
        methods: {
                keyPress (e) {
      if (e.key === 't') {
        this.toggle()
      }
    },
                toggle () {
      if (this.mode === "light") {
        this.mode = "dark"
      } else {
        this.mode = "light"
            }
        }
    },
        computed:{
		
		...mapGetters({
		
			user:"user"
		})
        }
    }
</script>

<style>
@import '../src/assets/style.css';
</style>
