html, template{
  padding: 0;
  margin: 0;
  height: 1250px;
}
.app{
  background-color: white;
  background-size: cover;
  height: 1250px;
}
.dark{
  background-color: #212529;
  color:white;
  height: 1250px;
}
nav{
  font-family: 'Roboto', sans-serif;
  background-color: #212529;
}

nav{
  font-family: 'Roboto', sans-serif;
  background-color: #212529;
}
#nav-link h6 {
  margin-right: 10px;
}
    @media (max-width: 640px) {
      .shteti button{
        width:50px;
        font-size:10px;
      }

      .shteti .flag{
        width:50px;
      }
      .shteti .cname{
        font-size:15px;
      }

      .prodimage{
        width:100%;
        height:100%;
          }
          .detailsbox3{
            font-size:14px; 
          }
      .dark{
        height: 100%;
      }
  }
    .flag{
      width:60px;
      height:35px;
        }
    .cname{
      width:35%;
    }
 
    .separator {
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 40px;
      margin-bottom: 20px;
    }
    .separator::before, .separator::after {
      content: '';
      flex: 1;
      border-bottom: 2px solid #A9A9A9;
    }
    .separator::before {
      margin-right: .25em;
    }
    .separator::after {
      margin-left: .25em;
    }

.bg-register-image2{
  background: url("../assets/back8.jpg");
}



 
 .features {
  margin: 1em auto;
  padding: 1em;
  position: relative;
}
.feature-title {
  color: #333;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.features img {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  margin-bottom: 16px;
}

.admin-nav {
  height: 1190px;
  width: 250px;
  z-index: 1;
  top: 0;
  left: 0;
  float:left;
  background-color: #212529;
  background-size: cover;
}

.admin-nav a {
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.admin-nav a:hover {
  color: #f1f1f1;
}

.aktiv1-linku{
  border-right: 10px solid #558f8d;
}
.aktiv1{
  color: #558f8d;
}
.nav-text{
  font-size:20px;
  margin-left:5px;
}
.active{
  border-right: 8px solid #558f8d;
}
.active i{
    color:#558f8d;
    font-size: 25px;
}
.active span{
  color: #558f8d;
}
#li-home{
  margin-top: 5px;
  list-style-type: none;
}
.category-feedback{
  margin-left: 30%;
}
.country-feedback{
  margin-left: 30%;
}
@media (max-width: 640px) {
  .admin-nav{
    width:10%;
    height: 100%;
      }
    .admin-nav .nav-text{
      display: none;
    }
    .nav-ikonat{
      margin-left:-9px;
    }
    .eat{
      font-size: 5px;
    }
    .category-feedback{
      margin:0
    }
    .country-feedback{
      margin:0
    }
    }

.tabela td{
  vertical-align: middle;
}
.admin-titulli{
font-family:Burbank Big Condensed;
}
#category-svg{
  width:250px;
  height: 250px;
}
#card-ikon1{
  font-size: 30px;
  border: 1px solid rgb(224, 224, 224);
  padding: 10px;
  border-radius: 33px;
  color:rgb(235, 235, 235);
}
#card-ikon2{
  font-size: 30px;
  border: 1px solid rgb(224, 224, 224);
  padding: 8px;
  padding-right: 15px;
  padding-left: 13px;
  border-radius: 33px;
  color:rgb(235, 235, 235);
}
#card-ikon3{
  font-size: 30px;
  border: 1px solid rgb(224, 224, 224);
  padding: 10px;
  padding-right: 12px;
  padding-left: 13px;
  border-radius: 33px;
  color:rgb(235, 235, 235);
}
#stok-card1{
  background: linear-gradient(45deg,#4638c2,#1a7774) !important;
  opacity: 0.8;
  border:1px solid #2d2587;
  border-radius: 25px;
}

.trash{
  font-size: 18px;
  color: #dc3545;
}

.trash:hover{
  color:white;
  text-decoration: none;
}

.trash1:hover .trash{
  color:white;
}

