<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4 mt-5 mb-5">
        <div class="card">
          <div class="card pt-3"><h1 style="font-family:Burbank Big Condensed; text-align: center;">FOODEX </h1></div>
          <div class="card-body d-flex justify-content-center">
            <div v-if="error" class="alert alert-danger">{{error}}</div>
            <form class="" action="#" @submit.prevent="submit">
              <div class="form-group">
                <label class="ml-3" for="email">Email</label>

                <div class="col-md-12">
                  <input
                    id="username"
                    type="text"
                    class="form-control"
                    name="username"
                    value
                    required
                    autofocus
                    v-model="form.email"
                  />
                </div>
              </div>

              <div class="form-group">
                <label class="ml-3" for="password">Password</label>

                <div class="col-md-12">
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    required
                    v-model="form.password"
                  />
                </div>
              </div>

              <div class="form-group mb-0">
                 <button type="submit" class="btn btn-primary float-right mr-3">Login</button>
                
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable*/
import firebase from "firebase";

export default {
  data() {
    return {
      form: {
        email: "",
        password: ""
      },
      error: null
    };
  },
  methods: {
    submit() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.form.email, this.form.password)
        .then(data => {
          this.$router.push({name: '/',})
          this.$router.go()
        })
        .catch(err => {
          this.error = err.message;
        });
    }
  }
};
</script>