<template>
    <div class="d-flex admin">
        
        <div class="container h-100">
            <div class="intro h-100">
                <div class="row h-100 justify-content-center">
                    <div class="col-md-6">
                        <h3 class="mt-5 text-center admin-titulli">ADMIN PANEL</h3>
                        <div class="card mr-3 ml-2 col-sm-6 mt-1" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-8 mb-2">
    <pie-chart :colors="['#819bf0', '#8183f0','#81d2f0','#9f81f0']" :donut="true" :dataset="{borderWidth: 0,}" :data="[['Nr. i porosive', porosite], ['Të konfirmuara', konfirmuara],['Të dërguara', derguara],['Të refuzuara', refuzuara] ]"></pie-chart>
    </div>
    <div class="col-md-4">
      <div class="card-body">
        <h5 class="card-title text-dark">Donut Chart i produkteve</h5>
        <p class="card-text text-secondary">Ky chart tregon ne kohe reale numrin total të porosive, numrin e porosive të konfirmuara, të refuzuara si dhe atyre të dërguara.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  </div>
                    </div>
                    <div class="col-md-6 mt-5">
    <geo-chart :library="{backgroundColor: 'transparent'}" :colors="['#1a7774', '#1a7774']" :data="chart"></geo-chart>
                    </div>
                </div>
<div class="row mt-4">
    <div v-for="product in productfields" :key="product._id">             
    </div>

        <div class="col-sm-4 mb-2" >
            <div class="card" id="stok-card1">
            <div class="card-body">
            <h5 class="card-title text-light " style="font-family: Times New Roman;margin:0px">Numri total i produkteve<i class="fa fa-shopping-cart mr-2 float-right" id="card-ikon1"></i></h5>
            <p class="card-text ml-3"><span class="text-light ml-5" style="font-size:35px;font-family: Times New Roman;">{{total}} </span></p>
            <img src="../assets/chartLine.png" style="width:150px;height:60px;margin-left:40px;margin-top:-15px;">
            </div>
            </div>
        </div>

        <div class="col-sm-4 mb-2" >
            <div class="card" id="stok-card1">
            <div class="card-body">
            <h5 class="card-title text-light" style="font-family: Times New Roman;">Numri total i porosive<i class="fa fa-euro mr-2 float-right" id="card-ikon2"></i></h5>
            <p class="card-text ml-3"><span class="text-light ml-5" style="font-size:35px;font-family: Times New Roman;">{{porosite}} </span></p>
            <img src="../assets/chartLine2.png" style="width:150px;height:60px;margin-left:40px;margin-top:-25px;">
            </div>
            </div>
        </div>

        <div class="col-sm-4 mb-2" >
            <div class="card" id="stok-card1">
            <div class="card-body">
            <h5 class="card-title text-light " style="font-family: Times New Roman;">Numri i porosive t'konfirmuara<i class="fa fa-check-circle mr-2 float-right" id="card-ikon3"></i></h5>
            <p class="card-text ml-3"><span class="text-light ml-5" style="font-size:35px;font-family: Times New Roman;">{{konfirmuara}} </span></p>
            <img src="../assets/chartLine3.png" style="width:150px;height:60px;margin-left:40px;margin-top:-25px;">            
            </div>
            </div>
        </div>
        <div class="col-sm-4 mb-2" >
            <div class="card" id="stok-card1">
            <div class="card-body">
            <h5 class="card-title text-light " style="font-family: Times New Roman;">Numri i porosive të refuzuara<i class="fa fa-times-circle mr-2 float-right" id="card-ikon3"></i></h5>
            <p class="card-text ml-3"><span class="text-light ml-5" style="font-size:35px;font-family: Times New Roman;">{{refuzuara}} </span></p>
            <img src="../assets/chartLine4.png" style="width:150px;height:60px;margin-left:40px;margin-top:-25px;">            
            </div>
            </div>
        </div>

        <div class="col-sm-4 mb-2" >
            <div class="card" id="stok-card1">
            <div class="card-body">
            <h5 class="card-title text-light " style="font-family: Times New Roman;">Numri total i mesazheve<i class="fa fa-envelope-o mr-2 float-right" id="card-ikon3"></i></h5>
            <p class="card-text ml-3"><span class="text-light ml-5" style="font-size:35px;font-family: Times New Roman;">{{messages}} </span></p>
            <img src="../assets/chartLine5.png" style="width:150px;height:60px;margin-left:40px;margin-top:-25px;">            
            </div>
            </div>
        </div>
        <div class="col-sm-4 mb-2" >
            <div class="card" id="stok-card1">
            <div class="card-body">
            <h5 class="card-title text-light " style="font-family: Times New Roman;">Numri i porosive t'derguara<i class="fa fa-truck mr-2 float-right" id="card-ikon3"></i></h5>
            <p class="card-text ml-3"><span class="text-light ml-5" style="font-size:35px;font-family: Times New Roman;">{{derguara}} </span></p>
            <img src="../assets/chartLine6.png" style="width:150px;height:60px;margin-left:40px;margin-top:-25px;">            
            </div>
            </div>
        </div>
        
</div>
 
    <table class=" table table-striped table-dark tabela mt-5">
            <thead>
                <tr class="text-center">
                <th scope="col">Emri</th>
                <th scope="col">Email</th>
                <th scope="col">Data</th>
                <th scope="col">Mesazhi</th>
                </tr>
            </thead>
            <tbody>
        <tr class="text-center" v-for="(todo) in todos5" v-bind:key="todo.id">
              <td>{{todo.emri}}</td>
              <td>{{todo.email}}</td>
              <td>{{todo.date}}</td>
        <td><button type="button" class="btn btn-info btn-sm"> <router-link to="/messages" style="text-decoration:none;color:white;">Lexo</router-link></button></td>
                            </tr>
            </tbody>
        </table> 



            </div>
        </div> 
    </div>
</template>

<script>
/* eslint-disable */
import { mapGetters } from "vuex";
import axios from 'axios';
import { GChart } from 'vue-google-charts';
export default {
    
    data(){
    return{
        
        products:{},
        todos: [],
        orders:{},
        todos:{},
        todos5:{},
        productfields:{},
        chart:[
            ['Kosovo', 44], 
            ['Albania', 23], ['North Macedonia', 22], ['Italy', 25],
            ['Canada', 30],['Russia', 45],['India', 35]
        ],

        components: {
        GChart
        }
    }},
        mounted() {
      this.getTasks()
    },

        
    methods:{
        
                getNumbers(){
                    for (let i = 0; i < chart.length; i++){
                            return i;
                    }
                },
    },
    created(){
        axios.get(`http://localhost:4000/products` )
    .then(response => {
        this.productfields = response.data
    })
    .catch(e => {
        this.error.push(e)
    })
        axios.get(`http://localhost:4000/orders` )
    .then(response => {
        this.orders = response.data
    })
    .catch(e => {
        this.error.push(e)
    })
       axios.get('http://localhost:4000/api/tasks').then(
          result => {
            this.todos = result.data
            this.todos5 = result.data.slice(-5)
          },
          error => {
            console.error(error)
          }
        )
    },
    computed: {
        total (){
            return this.productfields.length;
        },
        qmimi (){
            return this.productfields.reduce((a,c ) => a + parseInt(c.price), 0);
        },
        porosite() {
            return this.orders.length;
        },
        derguara() {
            return this.orders.filter(x => x.delivered == 0).length;
        },
        
        konfirmuara() {
            return this.orders.filter(x => x.status == 1).length;
        },
        
        refuzuara(){
            return this.orders.filter(x => x.status == 2).length;
        },
        messages(){
            return this.todos.length;
        },
      
        
    }
}
</script>