<template>
<div class="d-flex">
  <div class="container" v-for="user in users" v-bind:key="user.userId">
  <div v-if="user.isAdmin == true || user.isMenaxher == true">
  <div class="container">
      <h3 class="text-center mt-5 mb-5 admin-titulli">Edit the Category</h3>
    <div class="col-md-12 justify-content-center mt-2 mb-3 col">
    <form @submit="onSubmit">
    <div class="form-group">
    <input type="text" class="form-control col-md-5 mx-auto" v-model="category.name"  placeholder="Name" id="name" name="name" :class="{ 'is-invalid': submitted && $v.category.name.$error }" />
   
          <div v-if="submitted && !$v.category.name.required" class="invalid-feedback category-feedback">Kjo fushë është e domosdoshme</div>
              <div v-if="submitted && !$v.category.name.alpha" class="invalid-feedback">Kjo fushë pranon vetëm shkronja dhe hapësirë</div>
              <div v-if="submitted && !$v.category.name.minLength || !$v.category.name.maxLength" class="invalid-feedback">Duhet të ketë 2 deri 30 shkronja</div>
   
    </div>
    <input type="submit" class="btn btn-success btn-block col-md-5 mx-auto" value="Send">
    
    </form>
    </div>
    </div>
    </div>
    <div v-else>
          <img src="../assets/error.svg" class="card-img-top mt-5" style="width:60%;margin-left:20%">
    <h1 class="text-danger logo mt-5 text-center">Access Denied</h1>
          </div>
          </div>  
</div>
</template>

<script>
/* eslint-disable */
import axios from 'axios'
import firebase from "firebase";
import { mapGetters } from "vuex";
import { required, minLength,maxLength,numeric, helpers} from "vuelidate/lib/validators"
const alpha = helpers.regex('alpha', /^[a-zA-Z ]*$/)
export default {
  name: 'EditCategory',
  data () {
    return {
    catid:this.$route.params.Cid,
    submitted:false,
      category: {},
      users: {},
    }
  },
  created () {
    axios.get(`http://localhost:4000/category/` + this.$route.params.Cid)
    .then(response => {
      this.category = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
    const db = firebase.firestore();
    db.collection('users').get().then(querySnapshot => {
    this.users = querySnapshot.docs.map(doc => doc.data()).filter(x =>  x.userId == this.user.data.uid);
        console.log(users);
  })
  },
   validations: {
            category: {
                name: { required,alpha, minLength: minLength(2), maxLength: maxLength(30)},
            }
        },
       computed: {
    ...mapGetters({
      user: "user"
    }),
  },      
  methods: {
    onSubmit (evt) {
        evt.preventDefault();
         this.submitted = true;
      
      this.$v.$touch();
     
                if (this.$v.$invalid) {
                    return;
                }
      axios.put(`http://localhost:4000/category/` + this.$route.params.Cid, this.category)
      .then(response => {
       
        this.$router.push({name:'category'});
         
        
      })
      .catch(e => {
        this.errors.push(e)
      })
    }

  }
}
</script>