<template>
<div class="d-flex">
   <div class="container" v-for="user in users" v-bind:key="user.userId">
          <div v-if="user.isAdmin == true || user.isMenaxher == true">
  <div class="container">
    <div class="col-md-12 d-flex justify-content-center mt-2 mb-3">
        <img src="../assets/category.svg" class="img-fluid" id="category-svg">
    </div>
    <div class="row justify-content-center mb-5">
      <div class="col-md-6 shteti mb-5">
        <div class="card mt-2">
          <div class="card-header mb-3 text-center text-dark"><h5>Kategoritë</h5></div>
          
            <div class="alert alert-dark" role="alert" v-for="(category,index) in categorylist" v-bind:key="index" >
            <h5 class="float-left">{{category.name}}</h5>
           <div class="float-right">
            <button type="button" class="btn btn-outline-dark mr-2"  @click.stop="deletecategory(category._id)">Delete</button>
            
           <button type="button" class="btn btn-outline-secondary mr-2" @click.stop="editcategory(category._id)">Edit</button>
           </div>
            
            </div>
            
          
        </div>
      </div>
     

 
    <div class="col-md-5 adds mt-2">
    <form @submit.prevent="onSubmit">
      <div class="col-md-8 mb-3 mx-auto">
       <label for="name">Emri i kategorisë</label>
      <input type="text" class="form-control" placeholder="Shëno emrin e kategorisë" v-model="category.name" id="name" name="name" :class="{ 'is-invalid': submitted && $v.category.name.$error }" >
       <div v-if="submitted && !$v.category.name.required" class="invalid-feedback">Kjo fushë është e domosdoshme</div>
       <div v-if="submitted && !$v.category.name.alpha" class="invalid-feedback">Kjo fushë pranon vetëm shkronja</div>
       <div v-if="submitted && !$v.category.name.minLength || !$v.category.name.maxLength" class="invalid-feedback">Duhet të ketë 5 deri 15 shkronja</div>
    
        </div>
     
    <div class="row mt-4">
            <button class="btn btn-dark  mb-3 mx-auto addc" type="submit">Shto kategorinë <i class="fa fa-plus-circle pl-2"></i></button>
            </div>
      </form>
    </div>
    </div>

    </div>
          </div>         
          <div v-else>
          <img src="../assets/error.svg" class="card-img-top mt-5" style="width:60%;margin-left:20%">
          <h1 class="text-danger logo mt-5 text-center">Access Denied</h1>
          </div></div>
  </div>
</template>
<script>
/* eslint-disable */
import { mapGetters } from "vuex";
import { required, minLength,maxLength,helpers} from "vuelidate/lib/validators";
const alpha = helpers.regex('alpha', /^[a-zA-Z ]*$/)
const alphanumericsymbol = helpers.regex('alphanumericsymbol',  /^[a-zA-Z0-9  ëçÇË?.,-]*$/)
import axios from "axios";
import firebase from 'firebase'
export default {
  name: "Category",
  data() {
    return {
    categorylist:{},
    category:{},
    users:{},
    submitted: false,
    }
  },created () {
    axios.get(`http://localhost:4000/category`)
    .then(response => {
      this.categorylist = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
         const db = firebase.firestore();
    db.collection('users').get().then(querySnapshot => {
    this.users = querySnapshot.docs.map(doc => doc.data()).filter(x =>  x.userId == this.user.data.uid);
        console.log(users);
  })
  },
  computed: {
    ...mapGetters({
// map `this.user` to `this.$store.getters.user`
      user: "user"
    })
  },
   validations: {
            category: {
                name: { required, minLength: minLength(5), maxLength: maxLength(25), alpha} }
        },
  methods: {
 onSubmit(evt) {
      evt.preventDefault();

         this.submitted = true;
      this.$v.$touch();
                if (this.$v.$invalid) {
                    return;
                }
      
          axios.post(`http://localhost:4000/category`, this.category)
      .then(response => {
        //console.log(response);
        this.$router.push({
          name: 'admin',
          //params: { id: response.data._id }
        })
        })
        
    },
    

    deletecategory (categoryid){
      var r = confirm("A dëshironi të fshini kategorinë?");
      if (r == true) {
      axios.delete('http://localhost:4000/category/' + categoryid)
            .then((result) => {
              //refresh on same page
              this.$router.go({
               
              })
            })
            .catch(e => {
              this.errors.push(e)
            })
      } else {
 
        }
            
        },
        editcategory(catid){
      let caId=catid
      this.$router.push({name:'categoryedit',params:{Cid:caId}})
      this.$router.params.Cid
  }

  }
  
};


</script>

