<template>
    <div class="d-flex">
         <div class="container" v-for="user in users" v-bind:key="user.userId">
          <div v-if="user.isAdmin == true || user.isMenaxher == true || user.isPunetor == true">
      <div class="container">
        <h1 style="font-family:Burbank Big Condensed; text-align: center; margin-top:30px; margin-bottom:20px;"> Porositë e konfirmuara </h1>
        
        <table class="col-md-12 mt-3 table table-striped table-dark tabela">
            <thead>
                <tr class="text-center">
                <th scope="col">Order ID</th>
                <th scope="col">Data</th>
                 <th scope="col">Konfirmuar nga</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" v-for="order in displayedPosts" v-bind:key="order._id">
                <td><button type="button" class="btn btn-outline-info p-0 pl-2 pr-2"  @click.stop="goToOrder(order._id)">#{{order._id}} </button></td>
                          
                <td>{{ order.updated_date }}</td>
                 <td>{{ order.confirmedby }}</td>
                         
                            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
           <nav class="bg-transparent" aria-label="Page navigation example">
            <ul class="pagination float-right">
                <li class="page-item d-flex">
                    <button type="button" class="page-link bg-warning text-white " v-if="page != 1" @click="page--"> Previous </button>
                </li>
                <li class="page-item d-flex">
                    <button type="button" class="page-link bg-dark text-white" v-for="pageNumber in pages.slice(page-1, page+5)" v-bind:key="pageNumber" @click="page = pageNumber">{{pageNumber}}</button>
                </li>
                <li class="page-item d-flex">
                    <button type="button" @click="page++" v-if="page < pages.length" class="page-link bg-danger text-white"> Next </button>
                </li>
            </ul>
        </nav>
          </div>
          </div>
                    </div>
          <div v-else>
              <img src="../assets/error.svg" class="card-img-top mt-5" style="width:60%;margin-left:20%">
    <h1 class="text-danger logo mt-5 text-center">Access Denied</h1>
          </div>
      </div>
    </div>
</template>

<script>

/* eslint-disable */
import { mapGetters } from "vuex";
import axios from 'axios';
import firebase from 'firebase';
export default {
    name: 'Get',
   data () {

    return {
      proId:this.$route.params.Pid,
      productfields:{},
      categoryfields:{},
      orders : [''],
			page: 1,
			perPage: 10,
      pages: [],
      users: {}
     
       }},
        created() {
           axios.get(`http://localhost:4000/orders` ) 
    .then(response => {
      this.orders = response.data.sort(x => x.updated_date).reverse()
    })
    .catch(e => {
      this.errors.push(e)
    })
     const db = firebase.firestore();
    db.collection('users').get().then(querySnapshot => {
    this.users = querySnapshot.docs.map(doc => doc.data()).filter(x =>  x.userId == this.user.data.uid);
        console.log(users);
  })
     },
     computed: {
    ...mapGetters({
      user: "user"
    }),
    displayedPosts () {
       return this.paginate(
         this.orders.filter(x => x.status == 1)
       )
                
                }
  },
     watch:{
         orders () {
			this.setPages();
		}
     },
       
    
      methods: {
		setPages () {
        let numberOfPages = Math.ceil(this.orders.filter(x => x.status == 1).length / this.perPage);
         for (let index = 1; index <= numberOfPages; index++) {
				this.pages.push(index);
      }
			
		},
		paginate (orders) {
			let page = this.page;
			let perPage = this.perPage;
			let from = (page * perPage) - perPage;
			let to = (page * perPage);
			return  orders.slice(from, to);
		},        
    
  goToOrder(orderId) {
    let ordId=orderId
    
    this.$router.push({name:'orderdetails',params:{Oid:ordId}});
  
    this.$route.params.Oid;
      
  },   

    
}

}


</script>