<template>
<div class="d-flex">
     <div class="container" v-for="user in users" v-bind:key="user.userId">
          <div v-if="user.isAdmin == true || user.isMenaxher == true">  
  <div class="container">
      <h3 class="text-center mt-5 mb-5 admin-titulli">Edit Country</h3>
    <div class="col-md-12 justify-content-center mt-2 mb-3 col">
    <form @submit="onSubmit">
    <div class="form-group">
    <input type="text" class="form-control col-md-5 mx-auto" placeholder="Name" v-model="flags.name" id="name" name="name" :class="{ 'is-invalid': submitted && $v.flags.name.$error }" />
   
          <div v-if="submitted && !$v.flags.name.required" class="invalid-feedback country-feedback">Kjo fushë është e domosdoshme</div>
              <div v-if="submitted && !$v.flags.name.alpha" class="invalid-feedback">Kjo fushë pranon vetëm shkronja dhe hapësirë</div>
              <div v-if="submitted && !$v.flags.name.minLength || !$v.flags.name.maxLength" class="invalid-feedback">Duhet të ketë 2 deri 30 shkronja</div>
   
    </div>
    <div class="form-group col-md-5 mx-auto">
    
      <label for="image" >Foto</label>
      <input type="file" @change="previewImage" accept="image/*" class="form-control-file">
      <p>Progress: {{uploadValue.toFixed()+"%"}}
      <progress id="progress" :value="uploadValue" max="100" ></progress>  </p>
  
    <div v-if="imageData!=null">
       
      <button class="btn btn-outline-secondary" @click="onUpload" >Upload</button>
    </div>
  </div>
    <input type="submit" class="btn btn-success btn-block col-md-5 mx-auto" value="Send">
    
    </form>
    </div>
    </div>
          </div>
                              <div v-else>
          <img src="../assets/error.svg" class="card-img-top mt-5" style="width:60%;margin-left:20%">
          <h1 class="text-danger logo mt-5 text-center">Access Denied</h1>
          </div></div>
</div>
</template>

<script>
/* eslint-disable */
import axios from 'axios'
import firebase from "firebase";
import { mapGetters } from "vuex";
import { required, minLength,maxLength,numeric, helpers} from "vuelidate/lib/validators"
const alpha = helpers.regex('alpha', /^[a-zA-Z ]*$/)
export default {
  name: 'EditoShtetin',
  data () {
    return {
    countryid:this.$route.params.Sid,
     imageData: null,
     submitted:false,
      picture:null,
      uploadValue: 0,
      flags: {},
      users: {}
    }
  },
  created () {
    axios.get(`http://localhost:4000/flags/` + this.$route.params.Sid)
    .then(response => {
      this.flags = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
                 const db = firebase.firestore();
    db.collection('users').get().then(querySnapshot => {
    this.users = querySnapshot.docs.map(doc => doc.data()).filter(x =>  x.userId == this.user.data.uid);
        console.log(users);
  })
  },
    validations: {
            flags: {
                name: { required,alpha, minLength: minLength(2), maxLength: maxLength(30)},
            }
        },
       computed: {
    ...mapGetters({
      user: "user"
    }),
  },      
  methods: {
    onSubmit (evt) {
        evt.preventDefault();
         this.submitted = true;
     
      this.$v.$touch();
                if (this.$v.$invalid) {
                    return;
                }
      axios.put(`http://localhost:4000/flags/` + this.$route.params.Sid, this.flags)
      .then(response => {
       
        this.$router.push({name:'shtoshtetin'});
          
        
      })
      .catch(e => {
        this.errors.push(e)
      })
    },

     previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
    },
       onUpload(evt){
          evt.preventDefault();
      this.picture=null;
      const storageRef=firebase.storage().ref(`${Date.now()}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
        this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
          this.picture =url;
          this.flags.image = this.picture;
          console.log(this.picture);
        });
      }
      );
      
    },
    

  }
}
</script>