<template>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark static-top font header ">
           <router-link to="/"  exact><a class="navbar-brand ml-5" style="font-family:Burbank Big Condensed; font-size:30px; padding:0" href="#">FOODEX </a></router-link> 

    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
         <li v-if="user.loggedIn" class="nav-item ">
            <a class="nav-link" style="cursor:pointer" @click.prevent="signOut">Log out</a>
          </li>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav ml-auto">

        </ul>
      </div>
        </ul>
      </div>
    </div>
    <Toggle :mode="mode" @toggle="$emit('toggle')" />
  </nav>

   
   

<!--
<ul class="nav nav-pills">
  <router-link to="/" tag="li" active-class="active" exact><a>Home</a></router-link>
  <router-link to="/about" tag="li" active-class="active"><a>About</a></router-link>
  <router-link to="/user" tag="li" active-class="active"><a>User</a></router-link>
  <router-link to="/useredit" tag="li" active-class="active"><a>User</a></router-link>
</ul> -->


</div>

</template>


<script>
import { mapGetters } from "vuex";
import firebase from "firebase";
import Toggle from '../components/Toggle';
export default {
  props: ['mode'],
  components: {
    Toggle
  },
  computed: {
    ...mapGetters({
// map `this.user` to `this.$store.getters.user`
      user: "user"
    })
  },
  methods: {
    signOut() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.push({
            name: "login"
          });
        });
    }
  }
};
</script>