<template>
  <div class="hello mt-5">
         <div class="container" v-for="user in users" v-bind:key="user.userId">
          <div v-if="user.isAdmin == true || user.isMenaxher == true">
    <div id="todo-list-example" class="container">
      <div class="row">
        <div class="col-md-11 mx-auto">
          <h1 class="text-center admin-titulli">Mesazhet</h1>
    <table class="col-md-12 mt-3 table table-striped table-dark tabela">
            <thead>
                <tr class="text-center">
                <th scope="col">Emri</th>
                <th scope="col">Email</th>
                <th scope="col">Data</th>
                <th scope="col">Mesazhi</th>
                </tr>
            </thead>
            <tbody>
        <tr class="text-center" v-for="todo in displayedPosts" v-bind:key="todo.id">
              <td>{{todo.emri}}</td>
              <td>{{todo.email}}</td>
              <td>{{todo.date}}</td>
        <td><button type="button" class="btn btn-info btn-sm" @click.stop="goToMessage(todo.id)" >Lexo</button></td>
                            </tr>
            </tbody>
        </table>   
                      <div class="d-flex justify-content-center">
           <nav class="bg-transparent" aria-label="Page navigation example">
            <ul class="pagination float-right">
                <li class="page-item d-flex">
                    <button type="button" class="page-link bg-warning text-white " v-if="page != 1" @click="page--"> Previous </button>
                </li>
                <li class="page-item d-flex">
                    <button type="button" class="page-link bg-dark text-white" v-for="pageNumber in pages.slice(page-1, page+5)" v-bind:key="pageNumber" @click="page = pageNumber">{{pageNumber}}</button>
                </li>
                <li class="page-item d-flex">
                    <button type="button" @click="page++" v-if="page < pages.length" class="page-link bg-danger text-white"> Next </button>
                </li>
            </ul>
        </nav>
          </div> 
        </div>

      </div>
    </div>
    </div>
         <div v-else>
          <img src="../assets/error.svg" class="card-img-top mt-5" style="width:60%;margin-left:20%">
          <h1 class="text-danger logo mt-5 text-center">Access Denied</h1>
          </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
  import axios from 'axios'
  import firebase from 'firebase'
  export default {
    data() {
      return {
        todos: [''],
        page: 1,
        perPage: 10,
        pages: [],
        users:{}
      }
    },
         computed: {
    displayedPosts () {
       return this.paginate(
         this.todos
       )},
    ...mapGetters({
      user: "user"
    }),
  },
       watch:{
         todos () {
			this.setPages();
		}
     },
    mounted() {
      this.getTasks()
    },
    created(){
     const db = firebase.firestore();
    db.collection('users').get().then(querySnapshot => {
    this.users = querySnapshot.docs.map(doc => doc.data()).filter(x =>  x.userId == this.user.data.uid);
        
  })
    },
    methods: {
    setPages () {
        let numberOfPages = Math.ceil(this.todos.length / this.perPage);
         for (let index = 1; index <= numberOfPages; index++) {
				this.pages.push(index);
      }
			
		},
		paginate (todos) {
			let page = this.page;
			let perPage = this.perPage;
			let from = (page * perPage) - perPage;
			let to = (page * perPage);
			return  todos.slice(from, to);
		},
      getTasks() {
        axios.get('http://localhost:4000/api/tasks').then(
          result => {
            this.todos = result.data
          },
          error => {
            console.error(error)
          }
        )
      },
        goToMessage(todoId) {
    let todId=todoId
    
    this.$router.push({name:'readmessage',params:{Tid:todId}});
  
    this.$route.params.Tid;
      
  }  
    }
  }
</script>