<template>
    <div class="d-flex" ref="content">
      <div class="container">
        <h1 style="font-family:Burbank Big Condensed; text-align: center; margin-top:40px; margin-bottom:20px;"> Porosia #{{this.$route.params.Oid}} </h1>
         <table class="col-md-12 mt-3 table table-striped table-dark tabela">
            <thead>
                <tr class="text-center">
                <th scope="col">Order ID</th>
                <th scope="col">Emri</th>
                <th scope="col">Adresa</th>
                <th scope="col">Nr.Telefonit</th>
                <th scope="col">Data</th>
                </tr>
            </thead>
            <tbody>
               
                <tr v-for="order in orders" v-bind:key="order._id" class="text-center" >
                                 <td>#{{ order._id }}</td>
                                 <td>{{ order.name }}</td>
                                <td>{{ order.adresa }}</td>
                                <td>{{ order.nrtelefonit }}</td>
                                 <td>{{ order.updated_date }}</td>
                                
                           

                            
                            </tr>
            
            </tbody>
        </table>
        <h3 class="text-center" style="font-family:Burbank Big Condensed;">Produkti</h3>
           <div v-for="order in orders" v-bind:key="order._id">
               <div v-for="product in products" v-bind:key="product._id">
            <table class="col-md-12 mt-3 table table-striped table-dark tabela" v-if="product._id == order.prodid">
            <thead>
                <tr class="text-center">
                <th scope="col">Produkti i blerë</th>
                <th scope="col">Foto</th>
                <th scope="col">Sasia</th>
                <th scope="col">Çmimi</th>
                <th scope="col">Totali</th>
                </tr>
            </thead>
            <tbody>
               
                <tr class="text-center" >
                                 <td>{{ product.name }}</td>
                                
                                 <td><img :src="product.image" style="width: 110px; height: 60px;" class="img-fluid"></td>
                                <td>{{order.sasia}}</td>
                                <td>{{product.price}}.00€</td>
                                 <td>{{product.price * order.sasia}}.00€</td>
                            </tr>
            
            </tbody>
        </table>
               </div>
               <button v-if="order.status == 1" @click="download" class="btn btn-outline-dark float-right ">Gjenero Faturën <i class="fa fa-file-o" aria-hidden="true"></i></button>
           </div>
          </div>
          
    </div>
</template>

<script>

/* eslint-disable */
import { mapGetters } from "vuex";
import axios from 'axios'
import jsPDF from "jspdf";
import html2canvas from "html2canvas"
export default {
    name: 'Get',
   data () {

    return {
      ordId:this.$route.params.Oid,
      productfields:{},
      orders : [''],
      products:{}

       }},
        created() {
           axios.get(`http://localhost:4000/orders/` ) 
    .then(response => {
      this.orders = response.data.filter(x => x._id == this.$route.params.Oid)
    })
    .catch(e => {
      this.errors.push(e)
    })

         axios.get(`http://localhost:4000/products/` ) 
    .then(response => {
      this.products = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })

     },
     computed: {
    ...mapGetters({
      user: "user"
    }),

  },

    
      methods: {
       
    
  goToOrder(orderId) {
    let ordId=orderId
    
    this.$router.push({name:'orderdetails',params:{Oid:ordId}});
  
    this.$route.params.Oid;
      
  },   

     download() {
   const doc = new jsPDF({
  orientation: 'landscape',
  unit: 'in',
  format: 'a4'
});

   var emri= this.$route.params.Oid;
   /** WITH CSS */
   var canvasElement = document.createElement('canvas');
    html2canvas(this.$refs.content, { canvas: canvasElement 
      }).then(function (canvas) {
          
     
    const img = canvas.toDataURL("image/jpeg", 1.0);
    doc.addImage(img,'JPEG', 0, 0,11,5);
    doc.save( "#"+ emri +" - fatura.pdf");
   });
 },
  
}

}


</script>