<template>
<div >
    <div class="admin-nav"  v-for="user in users" v-bind:key="user.userId">
        <li :class="[currentPage.includes('admin') ? activeClass : '', 'nav-item']" id="li-home">
    <router-link to="/">
        <a class="nav-link">
        <i class="fa fa-fw fa-home nav-ikonat "></i>
        <span class="nav-text">Home</span> 
        </a> 

    </router-link>
        </li>
    <div v-if="user.isAdmin == true">    
	<router-link to="/stafi" active-class="active" exact> <a class="nav-link "><i class="fa fa-fw fa-users nav-ikonat "></i><span class="nav-text">Stafi</span></a></router-link>    
    </div>
    <div v-if="user.isAdmin == true || user.isMenaxher == true">
    <router-link to="/messages"  active-class="active" exact> <a class="nav-link "><i class="fa fa-fw fa-user nav-ikonat "></i><span class="nav-text">Mesazhet</span></a></router-link>
    <router-link to="/shtoshtetin" active-class="active" exact> <a class="nav-link "><i class="fa fa-fw fa-globe nav-ikonat "></i><span class="nav-text">Shtetet</span></a></router-link>
    <router-link to="/dashboard" active-class="active" exact> <a class="nav-link "><i class="fa fa-fw fa-plus nav-ikonat"></i><span class="nav-text">Shto Produktin</span></a></router-link>
    <router-link to="/productsList" active-class="active" exact> <a class="nav-link"><i class="fa fa-fw fa-clipboard nav-ikonat"></i><span class="nav-text">Produktet</span></a></router-link>
    <router-link to="/category" active-class="active" exact> <a class="nav-link "><i class="fa fa-fw fa-caret-down nav-ikonat "></i><span class="nav-text">Kategoritë</span></a></router-link>
    </div>
    <div v-if="user.isAdmin == true || user.isMenaxher == true || user.isPunetor == true">
    <router-link to="/orders" active-class="active" exact> <a class="nav-link "><i class="cil-clipboard nav-ikonat "></i><span class="nav-text"> Porositë</span></a></router-link>
    <router-link to="/confirmedorders" active-class="active" exact> <a class="nav-link "><i class="cil-check-circle nav-ikonat "></i><span class="nav-text"> Të konfirmuara</span></a></router-link>   
    </div>
    <div v-if="user.isPostieri == true || user.isAdmin == true">
    <router-link to="/deliver" active-class="active" exact> <a class="nav-link "><i class="fa fa-truck nav-ikonat "></i><span class="nav-text"> Për dërgim</span></a></router-link>   
    </div>
	</div>
    </div>
</template>

<script>
import firebase from 'firebase'
import {mapGetters} from 'vuex'
    export default {
        data(){
            return{
                activeClass: 'active',
                users: {}
            };
        },
created () {
    const db = firebase.firestore();
    db.collection('users').get().then(querySnapshot => {
    this.users = querySnapshot.docs.map(doc => doc.data()).filter(x =>  x.userId == this.user.data.uid);
  })
  },

        computed:{
		
		...mapGetters({
		
			user:"user"
		}),
            currentPage(){
                return this.$route.path;
            }
        }

    }
</script>