<template>
    <div class="d-flex">
   <div class="container" v-for="user in users" v-bind:key="user.userId">
          <div v-if="user.isAdmin == true || user.isMenaxher == true">      
      <div class="container">
        <h1 style="font-family:Burbank Big Condensed; text-align: center; margin-top:20px; margin-bottom:20px;"> Lista e produkteve </h1>
        
        <button type="button" class="btn btn-outline-danger p-1 pr-2 pl-2 trash1"><router-link to="/productsTrash" class="trash"> Trash <i class='fa fa-trash'></i></router-link> </button> 
        <table class="col-md-12 mt-3 table table-striped table-dark tabela">
            <thead>
                <tr class="text-center">
                <th scope="col">Emri</th>
                <th scope="col">Cmimi</th>
                <th scope="col">Stoku</th>
                <th scope="col">Foto</th>
                <th scope="col">Fshije</th>
                <th scope="col">Edito</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" v-for="posts in displayedPosts" v-bind:key="posts._id">
                                <td>{{ posts.name }}</td>
                                 <td>{{ posts.price }}.00€</td>
                                 <td>{{ posts.stock }}</td>
                                 <td><img style="width: 110px; height: 60px;" :src="posts.image" class="img-fluid"></td>
                                <td><button type="button" class="btn btn-outline-danger p-1 pr-2 pl-2"  @click.stop="deletepost(posts._id)"><i class='fa fa-trash'></i> </button></td>
                            <td><button type="button" class="btn btn-outline-warning p-0 pl-2 pr-2"  @click.stop="editpost(posts._id)"><i class='fa fa-edit'></i> </button></td>
                            
                            </tr>
            </tbody>
        </table>

        <div class="d-flex justify-content-center">
           <nav class="bg-transparent" aria-label="Page navigation example">
            <ul class="pagination float-right">
                <li class="page-item d-flex">
                    <button type="button" class="page-link bg-warning text-white " v-if="page != 1" @click="page--"> Previous </button>
                </li>
                <li class="page-item d-flex">
                    <button type="button" class="page-link bg-dark text-white" v-for="pageNumber in pages.slice(page-1, page+5)" v-bind:key="pageNumber" @click="page = pageNumber">{{pageNumber}}</button>
                </li>
                <li class="page-item d-flex">
                    <button type="button" @click="page++" v-if="page < pages.length" class="page-link bg-danger text-white"> Next </button>
                </li>
            </ul>
        </nav>
          </div>
          </div>
          </div>
                    <div v-else>
          <img src="../assets/error.svg" class="card-img-top mt-5" style="width:60%;margin-left:20%">
          <h1 class="text-danger logo mt-5 text-center">Access Denied</h1>
          </div></div>
    </div>
</template>

<script>

/* eslint-disable */
import { mapGetters } from "vuex";
import axios from 'axios'
import firebase from 'firebase';
export default {
    name: 'Get',
   data () {

    return {
      proId:this.$route.params.Pid,
      productfields:{},
      categoryfields:{},
      posts : [''],
			page: 1,
			perPage: 5,
      pages: [],
      users:{}
      
     
       }},
        created() {
           axios.get(`http://localhost:4000/products` ) 
    .then(response => {
      this.posts = response.data.reverse()
    })
    .catch(e => {
      this.errors.push(e)
    })

    axios.get(`http://localhost:4000/category`)
    .then(response => {
      this.categoryfields = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
             const db = firebase.firestore();
    db.collection('users').get().then(querySnapshot => {
    this.users = querySnapshot.docs.map(doc => doc.data()).filter(x =>  x.userId == this.user.data.uid);
        console.log(users);
  })
     },
     computed: {
    ...mapGetters({
      user: "user"
    }),
    displayedPosts () {
       return this.paginate(
         this.posts.filter(x => x.isDeleted == false)
       )
                
                }
  },
     watch:{
         posts () {
			this.setPages();
		}
     },
       
    
      methods: {
		setPages () {
        let numberOfPages = Math.ceil(this.posts.filter(x => x.isDeleted == false).length / this.perPage);
         for (let index = 1; index <= numberOfPages; index++) {
				this.pages.push(index);
      }
			
		},
		paginate (posts) {
			let page = this.page;
			let perPage = this.perPage;
			let from = (page * perPage) - perPage;
			let to = (page * perPage);
			return  posts.slice(from, to);
		},        
    
  goTodetail(productId) {
    let proId=productId
    
    this.$router.push({name:'details',params:{Pid:proId}});
  
    this.$route.params.Pid;
      
  },   
  deletepost (postid){
    var r = confirm("A dëshironi të fshini produktin?");
          if (r == true) {axios.put('http://localhost:4000/products/' + postid, {isDeleted:true, deletedby: this.user.data.displayName})
            .then((response) => {
               this.$router.push({name:'productstrash'})
              //refresh on same page
            })
            .catch(e => {
              this.errors.push(e)
            })} else {
          
          }
            
        },
        editpost(prodid){
            let proId=prodid
      this.$router.push({name:'productedit',params:{Pid:proId}})
      this.$router.params.Pid
         
      
  }
}

}


</script>