<template>
<div class="d-flex">

  <div class="container" v-for="user in users" v-bind:key="user.userId">
    <div class="card o-hidden border-0 shadow-lg my-5" v-if="user.isAdmin == true || user.isMenaxher == true">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image2"></div>
          <div class="col-lg-7">
            <div class="p-5">
            
      <div v class="col-md-8">
        
     
<form>
        <div class="form-group">
          <label for="name" class="text-success">Emri</label>
          <input type="text" class="form-control" placeholder="Shkruaj emrin" v-model="product.name" id="name" name="name" :class="{ 'is-invalid': submitted && $v.product.name.$error }" />
          <div v-if="submitted && !$v.product.name.required" class="invalid-feedback">Kjo fushë është e domosdoshme</div>
              <div v-if="submitted && !$v.product.name.alpha" class="invalid-feedback">Kjo fushë pranon vetëm shkronja dhe hapësirë</div>
              <div v-if="submitted && !$v.product.name.minLength || !$v.product.name.maxLength" class="invalid-feedback">Duhet të ketë 2 deri 30 shkronja</div>
        </div>
        <div class="form-group">
          <label for="Category" class="text-success">Kategoria</label>
          <select
                    id="category"
                    name="category"
                    class="form-control"
                    v-model="product.category"
                    :class="{ 'is-invalid': submitted && $v.product.category.$error }"
                  >
                    <option v-for="item in categoryfields" :key="item._id" :value="item._id">{{item.name}}</option>
                  </select>
                   <div v-if="submitted && !$v.product.category.required" class="invalid-feedback">Kjo fushë është e domosdoshme</div>
        </div>
        
        <div class="form-group">
          <label for="flag" class="text-success">Shteti</label>
          <select v-model="product.flag" name="flag"  id="flag"  :class="{ 'is-invalid': submitted && $v.product.flag.$error }" class="form-control"
                    
           >
                    <option v-for="item in shteti" :key="item._id" :value="item.image">{{item.name}}</option>
                  </select>
              <div v-if="submitted && !$v.product.flag.required" class="invalid-feedback">Kjo fushë është e domosdoshme</div>
           
        </div>
         <div class="form-group">
    
      <label for="image" class="text-success">Foto</label>
      <input type="file" @change="previewImage" accept="image/*" id="image" class="form-control-file text-dark" >
       <p id = "GFG_DOWN" style = "width: 100%;margin-top: .25rem;font-size: 80%;color: #dc3545;"> </p>
      <p class="text-dark">Progress: {{uploadValue.toFixed()+"%"}}
      <progress id="progress"  :value="uploadValue" max="100" ></progress>  </p>
  
    <div v-if="imageData!=null">
       
      <button class="btn btn-success" @click="onUpload">Upload</button>
    </div>
  </div>
        <div class="form-group">
          <label for="textarea" class="text-success">Përshkrimi</label>
          <textarea class="form-control" rows="4" v-model="product.description" id="description" name="description" :class="{ 'is-invalid': submitted && $v.product.description.$error }"></textarea>
        <div v-if="submitted && !$v.product.description.required" class="invalid-feedback">Kjo fushë është e domosdoshme</div>
              <div v-if="submitted && !$v.product.description.alphanumeric" class="invalid-feedback">Kjo fushë pranon vetëm shkronja, numra dhe hapësirë</div>
              <div v-if="submitted && !$v.product.description.minLength || !$v.product.description.maxLength" class="invalid-feedback">Duhet të ketë 10 deri 300 shkronja</div>
        
        </div>
        <div class="form-group row text-info">
      

        <div class="col-sm-6">

          <label for="price" class="text-success" >Cmimi</label>
          <input class="form-control" type="number" v-model="product.price" id="price" name="price" :class="{ 'is-invalid': submitted && $v.product.price.$error }">
           <div v-if="submitted && !$v.product.price.required" class="invalid-feedback">Kjo fushë është e domosdoshme</div>
              <div v-if="submitted && !$v.product.price.numeric" class="invalid-feedback">Kjo fushë pranon vetëm numra (Pozitiv)</div>
              
        </div>
        </div>
        
          <button type="submit" class="btn btn-success" @click="onSubmit">Submit</button>
  </form>
      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div v-else>
    <img src="../assets/error.svg" class="card-img-top mt-5" style="width:60%;margin-left:20%">
    <h1 class="text-danger logo mt-5 text-center">Access Denied</h1>
    </div>
  </div>
</div>
</template>
<script>
/* eslint-disable */
import { mapGetters } from "vuex";
import axios from "axios";
import firebase from "firebase";
import { required, minLength,maxLength,numeric, helpers} from "vuelidate/lib/validators"
const alpha = helpers.regex('alpha', /^[a-zA-Z ]*$/)
const alphanumeric = helpers.regex('alphanumeric', /^[a-zA-Z0-9 ]*$/)
export default {
  name: "CreateProducts",
  data() {
    return {
      prodid:this.$route.params.Pid,
      imageData: null,
      picture:null,
      uploadValue: 0,
      products: {},
      categoryfields:{},
      submitted:false,
      shteti:{},
      product:{},
      users: {}
          
    };
  },created () {
      axios.get(`http://localhost:4000/products/` + this.$route.params.Pid)
    .then(response => {
      this.product = response.data
    })
    .catch(e => {
      this.errors.push(e)
    }),
    axios.get(`http://localhost:4000/category`)
    .then(response => {
      this.categoryfields = response.data
    })
    .catch(e => {
      this.errors.push(e)
    }),
    
    axios.get(`http://localhost:4000/flags`)
    .then(response => {
      this.shteti = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
    const db = firebase.firestore();
    db.collection('users').get().then(querySnapshot => {
    this.users = querySnapshot.docs.map(doc => doc.data()).filter(x =>  x.userId == this.user.data.uid);
        console.log(users);
  })

  },
   validations: {
            product: {
                name: { required,alpha, minLength: minLength(2), maxLength: maxLength(30)},
                description:{required, alphanumeric, minLength:minLength(10), maxLength: maxLength(300)},
                price:{required, numeric},
                flag:{required},
                category:{required},
                }
        },
  computed: {
    ...mapGetters({
// map `this.user` to `this.$store.getters.user`
      user: "user"
    })
  },
  methods: {
   
    
    onSubmit(evt) {
      evt.preventDefault();
       this.submitted = true;
      
      this.$v.$touch();
      
                if (this.$v.$invalid) {
                    return;
                }
      axios.put(`http://localhost:4000/products/` + this.$route.params.Pid, this.product)
      .then(response => {
        //console.log(response);
        this.$router.push({
          name: 'productslist',
          //params: { id: response.data._id }
        })
        })
        
    },
    
     previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
    },
       onUpload(evt){
          evt.preventDefault();
      this.picture=null;
      const storageRef=firebase.storage().ref(`${Date.now()}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
        this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
          this.picture =url;
          this.product.image = this.picture;
          console.log(this.picture);
        });
      }
      );
      
    }


  }
};
</script>