<template>
  <div class="hello">
         <div class="container" v-for="user in users" v-bind:key="user.userId">
          <div v-if="user.isAdmin == true || user.isMenaxher == true"> 
    <div id="todo-list-example" class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h1 class="text-center admin-titulli mt-5">Lexo Mesazhin</h1>
    <table class="col-md-12 mt-3 table table-striped table-dark tabela">
            <thead>
                <tr class="text-center">
                <th scope="col">Emri</th>
                <th scope="col">Email</th>
                <th scope="col">Data</th>
                </tr>
            </thead>
            <tbody>
        <tr class="text-center" v-for="(todo) in todos" v-bind:key="todo.id">
              <td>{{todo.emri}}</td>
              <td>{{todo.email}}</td>
              <td>{{todo.date}}</td>
                            </tr>

            </tbody>
            <thead>
            <tr class="text-center">
            <th colspan='3'>Mesazhi:</th>
            </tr> 
            </thead>
            <tbody v-for="(todo) in todos" v-bind:key="todo.id">
                <td colspan="3">{{todo.mesazhi}}</td>
            </tbody>
           
        </table>          
        </div>
      </div>
    </div>
          </div>
          <div v-else>
          <img src="../assets/error.svg" class="card-img-top mt-5" style="width:60%;margin-left:20%">
    <h1 class="text-danger logo mt-5 text-center">Access Denied</h1>
          </div>
          </div>
  </div>
</template>

<script>
  import axios from 'axios';
  import firebase from 'firebase';
import { mapGetters } from "vuex";
  export default {
    data() {
      return {
        todos: [],
        todId:this.$route.params.Tid,
        users: {}
      }
    },
    mounted() {
      this.getTasks()
    },
    created() {
          const db = firebase.firestore();
    db.collection('users').get().then(querySnapshot => {
    this.users = querySnapshot.docs.map(doc => doc.data()).filter(x =>  x.userId == this.user.data.uid);
        
    })
    },
     computed: {
    ...mapGetters({
      user: "user"
    })
     },
    methods: {
      getTasks() {
        axios.get('http://localhost:4000/api/tasks').then(
          result => {
            this.todos = result.data.filter(x => x.id == this.$route.params.Tid)
          },
          error => {
            console.error(error)
          }
        )
      }
    }
  }
</script>