<template>
<div class="d-flex">
     <div class="container" v-for="user in users" v-bind:key="user.userId">
          <div v-if="user.isAdmin == true || user.isMenaxher == true">  
  <div class="container">
      <div class="col-md-6 mt-5 float-left">
      <img src="../assets/world.svg" class="img-fluid ">
      
    
        <div class="card mt-2">
          <div class="card-header text-center text-dark"><h5>Shtetet</h5></div>
          <div class="card-body">
            <div class="alert alert-dark" role="alert" v-for="(country,index) in countrylist" v-bind:key="index" >
            <h5 class="float-left cname">{{country.name}}</h5>
            <img :src="country.image" class="img-fluid flag">
            <div class="float-right flamurat">
            <button type="button" class="btn btn-outline-danger mr-2"  @click.stop="deletecountry(country._id)">Delete</button>
            <button type="button" class="btn btn-outline-dark"  @click.stop="editcountry(country._id)">Edit</button>
           </div>
            </div>
            
          </div>
        </div>
     </div>

 
    <div class="col-md-6 adds float-right mt-5">
    <form class="mt-5">
      <div class="col-md-8 mb-3 mx-auto">
          <label for="name" >Emri</label>
          <input type="text" class="form-control" placeholder="Shkruaj emrin" v-model="flag.name"  id="name" name="name" :class="{ 'is-invalid': submitted && $v.flag.name.$error }" />
          <div v-if="submitted && !$v.flag.name.required" class="invalid-feedback">Kjo fushë është e domosdoshme</div>
              <div v-if="submitted && !$v.flag.name.alpha" class="invalid-feedback">Kjo fushë pranon vetëm shkronja dhe hapësirë</div>
              <div v-if="submitted && !$v.flag.name.minLength || !$v.flag.name.maxLength" class="invalid-feedback">Duhet të ketë 2 deri 30 shkronja</div>
        
        </div>
     <div class="col-md-8 mb-3 mx-auto">
       <div class="form-group">
    
      <label for="image" >Foto</label>
      <input type="file" @change="previewImage" accept="image/*" id="image" class="form-control-file" >
       <p id = "GFG_DOWN" style = "width: 100%;margin-top: .25rem;font-size: 80%;color: #dc3545;"> </p>
      <p>Progress: {{uploadValue.toFixed()+"%"}}
      <progress id="progress" :value="uploadValue" max="100" ></progress>  </p>
  
    <div v-if="imageData!=null">
       
      <button class="btn btn-outline-secondary" @click="onUpload">Upload</button>
    </div>
  </div>
    </div>
    <div class="row mt-4">
            <button class="btn btn-outline-secondary col-md-4 mb-3 mx-auto addc" type="submit " @click="onSubmit">Shto shtetin <i class="fa fa-plus-circle pl-2"></i></button>
            </div>
      </form>
    </div>
    </div>
          </div>
         <div v-else>
          <img src="../assets/error.svg" class="card-img-top mt-5" style="width:60%;margin-left:20%">
          <h1 class="text-danger logo mt-5 text-center">Access Denied</h1>
          </div></div>
  </div>
</template>
<script>
/* eslint-disable */
import { mapGetters } from "vuex";
import axios from "axios";
import firebase from "firebase";
import { required, minLength,maxLength,numeric, helpers} from "vuelidate/lib/validators"
const alpha = helpers.regex('alpha', /^[a-zA-Z ]*$/)
export default {
  name: "Country",
  data() {
    return {
      imageData: null,
      picture:null,
      submitted:false,
      uploadValue: 0,
      flag: {},
      countrylist:{},
      users:{}
    
    };
  },created () {
    axios.get(`http://localhost:4000/flags`)
    .then(response => {
      this.countrylist = response.data
    })
    .catch(e => {
      this.errors.push(e)
    })
         const db = firebase.firestore();
    db.collection('users').get().then(querySnapshot => {
    this.users = querySnapshot.docs.map(doc => doc.data()).filter(x =>  x.userId == this.user.data.uid);
        console.log(users);
  })
  },
  computed: {
    ...mapGetters({
// map `this.user` to `this.$store.getters.user`
      user: "user"
    })
  },
    validations: {
            flag: {
                name: { required,alpha, minLength: minLength(2), maxLength: maxLength(30)},
            }
        },
  methods: {
      onSubmit(evt) {
      evt.preventDefault();
       this.submitted = true;
       var down = document.getElementById('GFG_DOWN'); 
      this.$v.$touch();
      if ($('#image')[0].files.length === 0) { 
                down.innerHTML = "Zgjedh një foto"; 
                
               return;
            } 
                if (this.$v.$invalid) {
                    return;
                }
      axios.post(`http://localhost:4000/flags`, this.flag)
        
    },
    
     previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
    },
       onUpload(evt){
          evt.preventDefault();
      this.picture=null;
      const storageRef=firebase.storage().ref(`${Date.now()}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
        this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
          this.picture =url;
          this.flag.image = this.picture;
          console.log(this.picture);
        });
      }
      );
      
    },

    deletecountry (countryid){
      var r = confirm("A dëshironi të fshini shtetin?");
      if (r == true) {
       axios.delete('http://localhost:4000/flags/' + countryid)
            .then((result) => {
              //refresh on same page
              this.$router.go({
               
              })
            })
            .catch(e => {
              this.errors.push(e)
            })
      } else {
  
      }
            
        },
        editcountry(countryid){
      let coId=countryid
      this.$router.push({name:'editoshtetin',params:{Sid:coId}})
      this.$router.params.Sid
  }

  }
  
};


</script>