<template>
  <div class="container">
         <div class="container" v-for="user in users" v-bind:key="user.userId">
          <div v-if="user.isAdmin == true">
    <h1 class="text-center logo mb-5 mt-5">Shto Postierin</h1>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-center text-dark">Register</div>
          <div class="card-body">
            <div v-if="error" class="alert alert-danger">{{error}}</div>
            <form action="#" @submit.prevent="submit">
              <div class="form-group row">
                <label for="name" class="col-md-4 col-form-label text-md-right text-dark">Name</label>

                <div class="col-md-6">
                  <input
                    id="name"
                    type="name"
                    class="form-control"
                    name="name"
                    value
                   
                    autofocus
                    v-model="form.name"

                    :class="{ 'is-invalid': submitted && $v.form.name.$error }" />
   
          <div v-if="submitted && !$v.form.name.required" class="invalid-feedback">Kjo fushë është e domosdoshme</div>
              <div v-if="submitted && !$v.form.name.alpha" class="invalid-feedback">Kjo fushë pranon vetëm shkronja</div>
              <div v-if="submitted && !$v.form.name.minLength || !$v.form.name.maxLength" class="invalid-feedback">Duhet të ketë 2 deri 30 shkronja</div>
   
                
                </div>
              </div>

              <div class="form-group row">
                <label for="email" class="col-md-4 col-form-label text-md-right text-dark">Email</label>

                <div class="col-md-6">
                  <input
                    id="email"
                    type="email"
                    class="form-control"
                    name="email"
                    value
                    
                    autofocus
                    v-model="form.email"

                    :class="{ 'is-invalid': submitted && $v.form.email.$error }" />
   
          <div v-if="submitted && !$v.form.email.required" class="invalid-feedback">Kjo fushë është e domosdoshme</div>
              <div v-if="submitted && !$v.form.email.email" class="invalid-feedback">Kjo fushë pranon vetëm email</div>
              
       
                </div>
              </div>

              <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right text-dark">Password</label>

                <div class="col-md-6">
                  <input
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    
                    v-model="form.password"

                    :class="{ 'is-invalid': submitted && $v.form.password.$error }" />
   
          <div v-if="submitted && !$v.form.password.required" class="invalid-feedback">Kjo fushë është e domosdoshme</div>
              <div v-if="submitted && !$v.form.password.alphanumeric" class="invalid-feedback">Kjo fushë pranon vetëm shkronja dhe numra</div>
              <div v-if="submitted && !$v.form.password.minLength" class="invalid-feedback">Minimumi 6 karaktere</div>
                </div>
              </div>

              <div class="form-group row mb-0">
                <div class="col-md-8 offset-md-4">
                  <button type="submit" class="btn btn-primary">Register</button>
                </div>
              </div>
            </form>
			
          </div>
        </div>
      </div>
    </div>
    </div>
    <div v-else>
    <img src="../assets/error.svg" class="card-img-top mt-5" style="width:60%;margin-left:20%">
    <h1 class="text-danger logo mt-5 text-center">Access Denied</h1>
    </div>
    </div>
  </div>
</template>


<script>
/* eslint-disable*/
import firebase from "firebase";
import { mapGetters } from 'vuex';
import { required, minLength,maxLength,email, helpers} from "vuelidate/lib/validators"
const alphanumeric = helpers.regex('alphanumeric', /^[a-zA-Z0-9 ]*$/)
const alpha = helpers.regex('alpha', /^[a-zA-Z ]*$/)

var config = {apiKey: "apiKey",
  apiKey: "AIzaSyBGRvGq4zosW6EVdXMxQX-767FV4G3jNmw",
  authDomain: "libraria-89131.firebaseapp.com",
  databaseURL: "https://libraria-89131.firebaseio.com",
  projectId: "libraria-89131",
  storageBucket: "libraria-89131.appspot.com",
  messagingSenderId: "364752324957",
  appId: "1:364752324957:web:557d8b05545d3a6a1a40b4" }
var secondaryApp = firebase.initializeApp(config, "Secondary1");


export default {
  data() {
    return {
      form: {
        name: "",
        email: "",
        password: ""
      },
      users: {},
      submitted:false,
      error: null
    };
  },
  validations: {
            form: {
                name: { required,alpha, minLength: minLength(2), maxLength: maxLength(30)},
                email: { required,email},
                password: { required,alphanumeric,minLength: minLength(6)},
            }
        },
  created(){
         const db = firebase.firestore();
    db.collection('users').get().then(querySnapshot => {
    this.users = querySnapshot.docs.map(doc => doc.data()).filter(x =>  x.userId == this.user.data.uid);
        console.log(users);
  })
  },
     computed: {
    ...mapGetters({
      user: "user"
    }),
  },
  methods: {
    submit(evt) {

       evt.preventDefault();
         this.submitted = true;
      
      this.$v.$touch();
     
                if (this.$v.$invalid) {
                    return;
                }
	const db = firebase.firestore();
      secondaryApp
        .auth()
        .createUserWithEmailAndPassword(this.form.email, this.form.password)
        .then(data => {
          data.user
            .updateProfile({
              displayName: this.form.name
            })
			
			 db.collection("users").add({
				isPostieri: true,
				userId: data.user.uid
})
            .then(() => {});
        }).then(
		secondaryApp.auth().signOut()
            //me i shtuu
        )
        .catch(err => {
          this.error = err.message;
        });
    }  
}
}
</script>



