<template>
<div ref="content">

<div class="d-flex justify-content-center" v-for="user in users" v-bind:key="user.userId">
<div class="card-group mt-5" v-if="user.isAdmin == true">
  <div class="card mr-2 ml-2">
    <img src="../assets/menaxheri.svg" class="card-img-top p-4" style="width:350px;height:250px;">
    <div class="card-body">
    <h5 class="card-title text-center text-info"><router-link to="/shtomenaxherin"> Shto Menaxherin</router-link></h5>   

    </div>
  </div>
  <div class="card mr-2 ml-2">
    <img src="../assets/punetori2.svg" class="card-img-top p-4" style="width:350px;height:250px;">
    <div class="card-body">
    <h5 class="card-title text-center text-info"><router-link to="/shtopunetorin"> Shto Punetorin</router-link></h5>              
    </div>
  </div>
  <div class="card mr-2 ml-2">
    <img src="../assets/postieri.svg" class="card-img-top p-4" style="width:350px;height:250px;">
    <div class="card-body">
    <h5 class="card-title text-center text-info"><router-link to="/shtopostierin"> Shto Postierin</router-link></h5> 
 
    </div>
  </div>
</div>
</div>

    
</div>

</template>

<script>
/* eslint-disable */
import { mapGetters } from "vuex";
import firebase from "firebase";

export default {
  name: "Stafi",
  data() {
    return {
      users: {}
          
    };
  },created () {
    const db = firebase.firestore();
    db.collection('users').get().then(querySnapshot => {
    this.users = querySnapshot.docs.map(doc => doc.data()).filter(x =>  x.userId == this.user.data.uid);
        console.log(users);
  })

  },
  computed: {
    ...mapGetters({
// map `this.user` to `this.$store.getters.user`
      user: "user"
    })
  },

 
 
};
</script>