<template>
<div class="d-flex">
<div class="container">
          <h1 style="font-family:Burbank Big Condensed; text-align: center; margin-top:20px; margin-bottom:20px;"> Mesazhet</h1>

    <table class="col-md-12 mt-3 table table-striped table-dark tabela" >
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Comments</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="contact in contacts" :key="contact._id">
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.description }}</td>
                    <button type="button" class="btn btn-warning"  @click.stop="editcontact(contact._id)">Edit</button>
                    <button type="button" class="btn btn-danger"  @click.stop="deletecontact(contact._id)">Delete </button>
                </tr>
  </tbody>
</table>
</div>
</div>

</template>

<script>
/* eslint-disable */
import axios from 'axios';
    export default {
      name: 'ShowContacts',
        data(){
            return{
                contacts: {}
            }
        },
        created () {
        axios.get(`http://localhost:4000/contacts/`)
        .then(response => {
          this.contacts = response.data
        })
        .catch(e => {
          this.errors.push(e)
        })
      },
        methods: {
            editcontact(contactid){
              this.$router.push({
              name: 'useredit',
              params: { id: contactid }
            })
          }
        ,deletecontact (contactid){
            axios.delete('http://localhost:4000/contacts/' + contactid)
            .then((result) => {
              //refresh on same page
              this.$router.go({
               
              })
            })
            .catch(e => {
              this.errors.push(e)
            })
        }
      }
  }

</script>